body{
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-color: #d1dbe4;
    font-family: Arial, Helvetica, sans-serif;}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    background-color: #194a7a;
    color: rgb(89, 172, 144);}

#lernantino{
    color: #d1dbe4;
    background-color: rgb(89, 172, 144);}


nav{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    }

nav a {color: #d1dbe4}


.subtitle{
    background-color: #d1dbe4;
    color: rgb(45, 45, 146);
    text-align: center;
}
.aboutme{
    background-color: #d1dbe4;
    color: #476f95;
}
p{background-color: #d1dbe4;
    color: #476f95;
    font-size: 12px;}
.work{
    background-color: #d1dbe4;
    color: #476f95;
}
#bigpic{
    background-color: #d1dbe4;
    color: #476f95;
    max-width: 1800px;}
.pics{
    display:inline-flex;
}    
   
.smallpic{
    display: flex;
    justify-content: space-between;
    background-color: #d1dbe4;
    color: #476f95;
    width: 100%;
    height:100%;
    max-width: 600px;
   
}


.contactme{
    background-color: #d1dbe4;
    color: #476f95;
}
footer{
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #d1dbe4;
    color: #476f95;
    text-align: block;
}

#aboutme{font-size: 36px;}
#work{font-size:36px;}
#contactme{font-size: 36px;}

@media screen and (max-width: 768px) {
    header, main, footer {
      flex-direction: column;
    }
 
  }